:root {
  --brown: #552b07ab;
  --brown2: #634c39ab;
  --brown3: #ccc7c4ab;
  --mainBrown: #131110b2;
  --lightBrown: #c78762;
  --mainRed: #640c0cf6;
  --mainWhite: #f3f3f3;
  --darkWhite: #f3f3f3d2;
  --mainGreen: #57bd57;
  --darkGreen: #208320;
  --mainGrey: #7a7979;
}

body {
  font-family: "Lato", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBrown) !important;
}

.text-title {
  font-family: "Bitter", serif;
  text-transform: uppercase;
}

.text-brown {
  color: var(--mainBrown);
}

.text-bright {
  color: var(--lightBrown);
}

.text-dark {
  color: var(--mainBrown);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
}

.btn-black:hover {
  background: var(--mainGreen);
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainRed) !important;
}

.img-icon:hover,
.list:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
}

.pic-div {
  overflow: auto;
  margin: auto;
  width: 50%;
}

.pic {
  float: left;
  padding: 0 30px 10px 0;
}

.list {
  color: var(--mainBrown);
  text-decoration: none;
}

form,
h4 {
  width: 60%;
  margin: auto;
}
